 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
Hey, what's up? My name is Zayd Bille and I'm a student at Carleton University and part-time adventurer. When I'm not busy doing various Software Engineering related things for school, I like to spend my time playing some video games, playing sports, or honing my creative side and create conecpt art. </p>
                </div>
                <div class="col-lg-4">
                    <p>This is my homepage which I use to host updates on my latest projects and adventures. If that sounds like something that would interest you, take a look around and enjoy your stay!
 </p>
                </div>
            </div>
        </div>
    </section>